<div class="container">
  <h3 class="center-align">Log in</h3>
  <div class="row"><div class="col s4 offset-s4">
	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h5>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user logging in:
      </h5>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_tag do %>
    <%= text_field_tag :email %><br>
    <%= password_field_tag :password %><br>
    <%= button_tag 'Submit', class: "green btn waves-effect waves-light center-align" %>
  <% end %>
  </div></div>
</div>  
