<script>
  $(function(){
    $("table").stupidtable();
  });
</script>

<div class="container">
<h3>Tags</h3>
<div class="row">
  <div class="col s6">
    <%= link_to 'New Tag', new_tag_path, class: "waves-effect waves-light btn" %>
	</div>
  <div class="col s6">
    <%= form_tag tags_path, method: :get do %>
      <%= text_field_tag 'search', params[:search], class:"col s9 right-align" %>
      <%= button_tag "Search Tags", name: nil, data: {disable_with: "Searching"}, class:"col s3 waves-effect waves-teal btn-flat" %>
    <% end %>
  </div>
</div>
  <table class="highlight">
    <thead>
      <tr>
        <th width="30%" data-sort="string">Tag</th>
        <th width="30%">Show Items</th>
        <th colspan="2" width="40%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if @tags.length == 0 %>
        <tr>
          <td colspan="6">No items found!</td>
        </tr>
      <% end %>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= tag.tag %></td>
          <td><%= link_to "Show", tag_path(tag) %></td>
          <% if tag.id > 0 %>
            <td><%= link_to "Edit", edit_tag_path(tag) %></td>
            <td><%= link_to "Delete", tag_path(tag), method: :delete %></td>
          <% else %>
            <td colspan="2">You cannot delete this</td>
          <% end %> 
        </tr>
      <% end %>
    </tbody>
	</table>
</div>
