<div class="container">
<h3><%= @tag.tag %></h3>

<table class="highlight">
	<tr>
		<th>Due by</th>
		<th>Tag</th>
		<th>Task</th>
		<th>Status</th>
		<th colspan="2"></th>
	</tr>
  
  <% if @items.length == 0 %>
    <tr>
      <td colspan="6">No items have this tag</td>
    </tr>
  <% end %>
	<% @items.each do |item| %>
		<tr>
			<td><%= item.due %></td>
			<td><%= Tag.find(item.tag_id).tag %></td>
			<td><%= item.task %></td>
			<td><%= item.status %></td>
			<td><%= link_to 'Edit', edit_item_path(item) %></td>
			<td><%= link_to 'Delete', item_path(item), method: :delete, data: {confirm: 'Are you sure?'} %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'Back', tags_path %>
</div>
