<%= form_with model: @item, local: true do |form| %>

	<% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@item.errors.count, "error") %> prohibited
        this item from being saved:
      </h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<p>
		<%= form.label :task %><br>
		<%= form.text_area :task %>
	</p>

	<p>
		<%= form.label :due %><br>
		<%= form.datetime_field :due %>
	</p>

	<p>
		<%= form.label :tag_id %><br>
		<%= form.collection_select(:tag_id, Tag.all, :id, :tag) %>

	<p>
		<%= form.submit %>
	</p>

<% end %>