<%= form_with model: @item, local: true do |form| %>

	<% if @item.errors.any? %>
    <div id="error_explanation">
      <h5>
        <%= pluralize(@item.errors.count, "error") %> prohibited
        this item from being saved:
      </h5>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>

	<p>
		<%= form.label :task %><br>
		<%= form.text_area :task %>
	</p>

	<div class="row">
    <div class="col s6">
      <%= form.label :due %><br>
      <%= form.datetime_field :due %>
    </div>

    <div class="col s6">
      <%= form.label :tag_id %>
      <%= form.collection_select(:tag_id, Tag.all, :id, :tag) %>
    </div>
  </div>
	<p>
		<%= form.button 'Submit', class: "green btn waves-effect waves-light" %>
	</p>

<% end %>
