<script>
  $(function(){
    $("table").stupidtable();
  });
</script>

<div class="container">
<h3>Items</h3>
<div class="row">
  <div class="col s6">
    <%= link_to 'New Item', new_item_path, class: "waves-effect waves-light btn left-align" %>
  </div>
  <div class="col s6">
    <%= form_tag items_path, method: :get do %>
      <%= text_field_tag 'search', params[:search], class:"col s9 right-align" %>
      <%= button_tag "Search Items", name: nil, data: {disable_with: "Searching"}, class:"col s3 waves-effect waves-teal btn-flat" %>
    <% end %>
  </div>
</div>
	<table class="highlight">
		<thead>
      <tr>
        <th width="15%" data-sort="string">Due by</th>
        <th width="10%" data-sort="string">Tag</th>
        <th width="40%" data-sort="string">Task</th>
        <th width="15%" data-sort="string">Status</th>
        <th colspan="3" width="20%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% t = Time.now %>
      <% if @items.length == 0 %>
        <tr>
          <td colspan="6">No items found!</td>
        </tr>
      <% end %>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.due %></td>
          <td><%= Tag.find(item.tag_id).tag %></td>
          <td><%= item.task %></td>
          <td><%= item.status %><br>
            <% if item.due < t && item.status == "Incomplete"%>
              <span class="red-text text-darken-1">OVERDUE</span>
            <% end %></td>
          <td><%= link_to 'Edit', edit_item_path(item) %></td>
          <td><%= link_to 'Delete', item_path(item), method: :delete, data: {confirm: 'Are you sure?'} %></td>
          <td><% if item.status == "Incomplete" %>
                <%= link_to 'Mark As Done', mark_as_done_item_path(item) %>
              <% end %></td>
        </tr>
      <% end %>
    </tbody>
	</table>
</div>
