<%= render 'layouts/navbar' %>
<div class="container">
<h3>Items</h3>
<a class="waves-effect waves-light btn" href="items/new">New Item</a>
	<table class="highlight">
		<tr>
			<th>Due by</th>
			<th>Tag</th>
			<th>Task</th>
			<th>Status</th>
			<th colspan="2">Actions</th>
		</tr>

		<% @items.each do |item| %>
			<tr>
				<td><%= item.due %></td>
				<td><%= Tag.find(item.tag_id).tag %></td>
				<td><%= item.task %></td>
				<td><%= item.status %></td>
				<td><%= link_to 'Edit', edit_item_path(item) %></td>
				<td><%= link_to 'Delete', item_path(item), method: :delete, data: {confirm: 'Are you sure?'} %></td>
			</tr>
		<% end %>
	</table>
</div>
