<h1>To do:</h1>
<%= link_to 'New', new_item_path %>
<table>
	<tr>
		<th>Due by</th>
		<th>Tag</th>
		<th>Task</th>
		<th>Status</th>
		<th colspan="2"></th>
	</tr>

	<% @items.each do |item| %>
		<tr>
			<td><%= item.due %></td>
			<td><%= Tag.find(item.tag_id).tag %></td>
			<td><%= item.task %></td>
			<td><%= item.status %></td>
			<td><%= link_to 'Edit', edit_item_path(item) %></td>
			<td><%= link_to 'Delete', item_path(item), method: :delete, data: {confirm: 'Are you sure?'} %></td>
		</tr>
	<% end %>
</table>
